.bg-menu {
  background-color: #190482;
}

.border-form {
  border-end-end-radius: 0px !important;
  border-start-end-radius: 0px !important;
  background-color: #fff;
  border: 0px;
}

.border-form:hover {
  border-end-end-radius: 0px !important;
  border-start-end-radius: 0px !important;
  background-color: #fff;
}

.border-button {
  border-start-start-radius: 0px !important;
  border-end-start-radius: 0px !important;
  border: 0px;
}

.border-trolley {
  border-left: 2px solid #fff;
}

.item-navbar {
  border-top: 2px solid #c2d9ff;
  border-left: 2px solid #c2d9ff;
  border-right: 2px solid #c2d9ff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #c2d9ff;
  color: #190482;
  padding: 5px;
}

.item-navbar:hover {
  transition: 0, 8s;
  border-top: 2px solid #8e8ffa;
  border-left: 2px solid #8e8ffa;
  border-right: 2px solid #8e8ffa;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #8e8ffa;
  color: #ffff;
  padding: 5px;
}

.navbar-items {
  max-height: 150px;
}

.button-cart-shopping {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
